{% extends base_module %}
{% block lesson_content %}
    <div class="aspect-video w-full rounded-lg overflow-hidden">
        <iframe 
            src="{{ current_lesson.get_video_url }}"
            class="w-full h-full"   
            frameborder="0"
            allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
    </div>
    {% include 'partials/student/complete_class_button.html' %}  
{% endblock %}